.background-imges{
    background: url("/assets/img/ContactBannerimg.jpg");
    height: 350px;
    width: 100%;
    object-fit: cover; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.custom-stroke-text{
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1.2px black;
    font-size: 50px;
}
.custom-margin{
    margin-bottom: 50px;
}

.custom-rounded{
    border-radius: 50%;
}
.custom-border-bootom{
    border-bottom: 1px solid gray;
    border-top: 0px;
    border-left: 0px;
    width: 45vw;
    border-right: 0px;

}
.custom-submit-btn{
    padding: 4px 29px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: transparent;
}
.custom-submit-btn:hover{
    background-color: black;
    color: white;
}
 
.custom-border-bootom:focus-visible{
    outline: none;
}
@media (min-width: 0px) and (max-width: 525px) {
    .background-imges{
        height: 147px;
    }
    .custom-stroke-text{
        font-size: 30px;
    }
    .custom-margin{
        margin-bottom: 25px;
        margin-top: 19px;
    }
    
}
@media (min-width: 0px) and (max-width: 525px) {
    .custom-border-bootom{
        width: 100%; 
    
    }
 
}