.nav-item {
    list-style: none;
}

.nav-item.active {
    list-style-type: disc;
}


.nav-item:hover {
    list-style-type: disc;
}

.custom-round-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.asidebarOpen {
    position: fixed;
    right: -100%;
    top: 0;
    width: 30%; 
    background-color: white;
    height: 100vh;
    transition: 0.4s ease-in-out;
    overflow: scroll;
    scrollbar-width: none;
    display: block;
    padding: 40px;
    z-index: 2000;
}

.asidebarOpen.open {
    right: 0;
}

.item-warrper-remove {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1500;
}
 
@media (max-width: 991px) {
    .menuitem {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        background-color: white;
        height: 100vh;
        overflow: scroll;
        transition: 0.3s ease-in-out;
        z-index: 1500;
    }

    .menuitem.open {
        right: 0;
    }
 

    .nav-item {
        list-style: none;
        padding: 20px 10px 0 15px;
    }
}

 



 